<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml" xmlns: xmlns:
      xmlns: xmlns: xmlns: xmlns: xmlns: xmlns: xmlns:>

<head>
    <meta charset="UTF-8">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>

    <title>Title</title>
</head>
<body>

    Hello.<br>
    <div id = "app">{{ message }}</div>
    <div id = "app2">
        <button v-on:click = "click"> 点击事件 </button>
    </div>
    <div id = "app3">
        <ol>       <todo-item
                v-for="item in itemList"
                v-bind:todo="item"
                v-bind:key="item.id">
        </todo-item>
        </ol>
        <button-counter></button-counter>
    </div>
    <div id="app4">
        <button-counter></button-counter>
        <button-count></button-count>
    </div>

    <div id = "app5">
        <p>
            <router-link to = "/foo">Go to Foo</router-link>
            <router-link to = "/bar">Go to Bar</router-link>
        </p>
        <router-view></router-view>
    </div>

    <div id="blog_title" >
        <div :style="{fontSize  : postFontSize + 'em' }">
`       <blogtitle v-on:enlarge-text="postFontSize += 0.1" v-for="article in articles" v-bind:key="article.id" v-bind:article="article" ></blogtitle>
        </div>
    </div>


    <div id = "threetabs">
        <button @click:="change(tab)" v-for="tab in tabs">{{ tab }}</button>
        <component
                v-bind:is="currentTabComponent"
        ></component>
    </div>

    <table id = "tabletest">
        <thead>
            <th>列1</th>
            <th>列12</th>
            <th>列13</th>
            <th>列14</th>
        </thead>
        <tbody>
            <tr v-for = "(comment,index) in comments">
                <th>{{index}}</th>
                <th>{{comment.id}}</th>
                <th>{{comment.author}}</th>
                <th>{{comment.text}}</th>
            </tr>
        </tbody>
    </table>
</body>

<script type="text/javascript" src="./index.js"></script>
</html>